*.egg
*.egg-info
*.pyc
*$py.class
*~
.git/
.coverage
coverage.xml
build/
dist/
nosetests.xml
tmp/
.DS_Store
test
node_modules/
npm-debug.log
zencare/static/*.js
zencare/static/*.css
zencare/static/*.map
zencare/templates/packs/*.mako
